<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Title -->
    <title><%= htmlWebpackPlugin.options.title %> | <%= htmlWebpackPlugin.options.company %></title>
    <!-- /Title -->
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- /Viewport -->
    <!-- Meta -->
    <meta name=description content="<%= htmlWebpackPlugin.options.description %>"/>
    <meta prefix="og: http://ogp.me/ns#" property=og:type content="website" />
    <meta prefix="og: http://ogp.me/ns#" property=og:title content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta prefix="og: http://ogp.me/ns#" property=og:description content="<%= htmlWebpackPlugin.options.description %>"/>
    <meta prefix="og: http://ogp.me/ns#" property=og:url content="<%= htmlWebpackPlugin.options.url %>"/>
    <meta prefix="og: http://ogp.me/ns#" property=og:site_name content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta prefix="og: http://ogp.me/ns#" property=og:image content="/assets/img/banner/iqhub-banner-map.png"/>
    <!-- /Meta -->
    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/img/fav/iqhub-favicon-w32.png">
    <link rel="apple-touch-icon" href="/assets/img/fav/iqhub-favicon-w180.png">
    <!-- /Favicons -->
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4fHuZhj5xqfXC-m10d7T2GgQLkdJQrZE"></script>
    <!-- /Google Maps -->
</head>
<body>
<div id="app-wrap"></div>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77334417-3', 'auto');
  ga('send', 'pageview');

</script>
<!-- /Google Analytics -->
</body>
</html>